@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
/* body, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

@media only screen and (max-width: 768px) {
  .container {
    width: 100% !important;
    overflow: scroll;
    display: block !important;
  }
  .tab-msg {
    display: block !important;
  }
  .tab-msg input {
    margin: 10px 0;
  }
}

.container {
  position: fixed;
  padding: 64px 46px;
  width: 420px;
  right: 0;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0px 6px 8px #31313142;
  height: 100%;
  top: 0;
  z-index: 99999999999;
  animation: 0.4s modalop ease-out;
  box-sizing: border-box;
  display: flex;
}

@keyframes modalop {
  from {
    right: -685px;
  }
  to {
    right: 0px;
  }
}

.container-inner {
  position: relative;
  width: 100%;
  height: 73%;
}

.tab {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 120px 65px 65px 92px 35px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.tab-title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
  margin-top: 20px;
  grid-column: 1/3;
  grid-row: 1;
  text-align: center;
  box-sizing: border-box;
}

.tab-input__name,
.tab-input__phone {
  border-radius: 12px;
  box-shadow: 0 4px 16px 0 rgba(69, 91, 99, 0.08);
  border: solid 1px #c6c6c6;
  background-color: #ffffff;
  font-size: 14px;
  padding: 15px 12px;
  width: auto;
  outline: none;
  resize: none;
  font-family: "Open Sans", sans-serif;
  grid-column: 1/3;
  box-sizing: border-box;
}

.tab-footer__text {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
  margin-top: 20px;
  grid-column: 1/3;
  text-align: center;
  box-sizing: border-box;
}

.tab-button {
  left: 50%;
  transform: translateX(-50%);
  grid-column: 1/3;
  position: relative;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.tab-button__button {
  width: 70%;
  border-radius: 12px;
  background-color: #665eff;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  padding: 12px 25px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 18px 0;
  overflow: hidden;
  transform-origin: 50% 50%;
  box-sizing: border-box;
}

.tab-button__button--disabled {
  width: 70%;
  border-radius: 12px;
  background-color: #bdbdbd;
  border: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  padding: 12px 25px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 18px 0;
  overflow: hidden;
  transform-origin: 50% 50%;
  box-sizing: border-box;
}

.tab-button__buttonmsg--disabled {
  width: 70%;
  border-radius: 12px;
  background-color: #bdbdbd;
  border: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  padding: 12px 25px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 18px 0;
  overflow: hidden;
  transform-origin: 50% 50%;
  box-sizing: border-box;
  left: 15%;
}

.tab-button__buttonmsg {
  width: 70%;
  border-radius: 12px;
  background-color: #665eff;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  padding: 12px 25px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 18px 0;
  overflow: hidden;
  transform-origin: 50% 50%;
  box-sizing: border-box;
  left: 15%;
}

/* ------------------------------------------------------------------ */

.tab-msg {
  display: block;
  position: absolute;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 120px 65px 65px 65px 92px 35px;
  grid-row-gap: 0px;
  grid-column-gap: 12px;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.tab-msg input {
  margin: 10px 0;
}

.tab-input__name-msg {
  grid-column: 1/2;
  grid-row: 2;
  box-sizing: border-box;
}

.tab-input__phone-msg {
  grid-column: 1/2;
  grid-row: 3;
  box-sizing: border-box;
}

.tab-input__email-msg {
  grid-column: 1/2;
  grid-row: 4;
  box-sizing: border-box;
}

.tab-input__text-msg {
  grid-column: 2/3;
  grid-row: 2/5;
  height: 93%;
  box-sizing: border-box;
}

.tab-input__name-msg,
.tab-input__phone-msg,
.tab-input__email-msg,
.tab-input__text-msg {
  border-radius: 12px;
  box-shadow: 0 4px 16px 0 rgba(69, 91, 99, 0.08);
  border: solid 1px #c6c6c6;
  background-color: #ffffff;
  font-size: 14px;
  padding: 15px 12px;
  width: 100%;
  outline: none;
  resize: none;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

/* ------------------------------------------------------------------ */

.tab-schedule {
  display: block;
  position: absolute;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 120px 65px 65px 92px 35px;
  grid-row-gap: 0px;
  grid-column-gap: 12px;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.tab-schedule input,
.tab-schedule select {
  width: 100%;
  margin: 10px 0;
}

.tab-input__name-hour {
  grid-column: 1/2;
  grid-row: 2;
  box-sizing: border-box;
}

.tab-input__phone-hour {
  grid-column: 2/3;
  grid-row: 2;
  box-sizing: border-box;
}

.tab-input__hour {
  grid-column: 1/2;
  grid-row: 3;
  box-sizing: border-box;
}

.tab-input__date {
  grid-column: 2/3;
  grid-row: 3;
  box-sizing: border-box;
}

.tab-input__hour,
.tab-input__name-hour,
.tab-input__phone-hour,
.tab-input__date {
  border-radius: 12px;
  box-shadow: 0 4px 16px 0 rgba(69, 91, 99, 0.08);
  border: solid 1px #c6c6c6;
  background-color: #ffffff;
  font-size: 14px;
  padding: 15px 12px;
  width: 100%;
  outline: none;
  resize: none;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

select {
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
}

option {
  text-align: center;
  box-sizing: border-box;
}

/* ------------------------------------------------------------- */

.tab__whatsapp {
  display: block;
  position: absolute;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 120px 165px 65px 92px 35px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.tab-whatsapp__textarea {
  border-radius: 12px;
  box-shadow: 0 4px 16px 0 rgba(69, 91, 99, 0.08);
  border: solid 1px #c6c6c6;
  background-color: #ffffff;
  font-size: 14px;
  padding: 12px;
  width: 100%;
  outline: none;
  resize: none;
  font-family: "Open Sans", sans-serif;
  grid-column: 1/3;
  grid-row: 2;
  height: 93%;
  box-sizing: border-box;
}

.tab-button__button--a {
  width: 70%;
  border-radius: 12px;
  background-color: #665eff;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  padding: 12px 25px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 18px 0;
  overflow: hidden;
  transform-origin: 50% 50%;
  text-decoration: none;
  box-sizing: border-box;
}

.tab-button__button__a--disable {
  width: 70%;
  border-radius: 12px;
  background-color: #bdbdbd;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  padding: 12px 25px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 18px 0;
  overflow: hidden;
  transform-origin: 50% 50%;
  text-decoration: none;
  box-sizing: border-box;
}

/* ----------------------------------------------------- */

.tabs-nav {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #a7a7a787;
  padding-bottom: 20px;
}

.tab-item {
  margin: 0 20px;
  list-style: none;
  cursor: pointer;
}

.tab-item p {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #666;
}

/* ------------------------------------------------------- */

.phoneIcon-tab {
  border-radius: 100%;
  box-shadow: 0 3px 6px 0 rgba(254, 30, 154, 0.3);
  background-image: linear-gradient(-135deg, #fe1e9a, #254dde);
  color: #fff;
  padding: 12px;
  cursor: pointer;
  font-size: 25px;
  display: inline-flex;
  height: 25px;
  margin: 0 auto;
  width: 25px;
}

.phoneIcon-tab svg,
.clockIcon-tab svg,
.msgIcon-tab svg,
.whatsIcon-tab svg {
  filter: invert(1);
  z-index: 99;
}

.clockIcon-tab {
  background-image: linear-gradient(214deg, #ff7b97, #9f2a2a);
  box-shadow: 0px 3px 6px #3131317d;
  color: #fff;
  padding: 12px;
  border-radius: 100%;
  cursor: pointer;
  font-size: 20px;
  display: inline-flex;
  height: 25px;
  margin: 0 auto;
  width: 25px;
}

.msgIcon-tab {
  border-radius: 100%;
  box-shadow: 0 3px 6px 0 rgba(0, 255, 255, 0.3);
  background-image: linear-gradient(214deg, #00ffff, #254dde);
  color: #fff;
  padding: 12px;
  cursor: pointer;
  font-size: 20px;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  width: 25px;
}

.whatsIcon-tab {
  border-radius: 100%;
  box-shadow: 0 3px 6px 0 rgba(0, 255, 255, 0.3);
  background-image: linear-gradient(214deg, #2ed543, #1b8e2a);
  color: #fff;
  padding: 12px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  font-size: 20px;
  width: 25px;
}

/* ------------------------------------------------------- */

.close-modal {
  background-color: #dbdada;
  position: absolute;
  padding: 8px;
  top: 0;
  left: 0;
  text-align: center;
  width: 25px;
  transition: 0.2s linear;
  cursor: pointer;
  height: 25px;
  line-height: 18px;
  border-radius: 0 0 31px 0;
}

.close-modal:hover {
  background-color: #cc1618;
}

.close-modal p {
  color: #fff;
  font-family: sans-serif;
  font-size: 24px;
  padding: 0;
  margin: 0;
}

.myicon {
  border-radius: 100%;
  box-shadow: 0 3px 6px 0 rgba(254, 30, 154, 0.3);
  background-image: linear-gradient(-135deg, #fe1e9a, #254dde);
  padding: 24px;
  transform: scale(0.8);
  bottom: -11px;
  right: -14px;
  cursor: pointer;
  overflow: hidden;
  z-index: 2147483649;
  height: 36px;
  width: 36px;
  position: absolute;
}

.myicon svg {
  position: absolute;
  filter: invert(1);
}

.sprite {
  display: flex;
  position: absolute;
  left: 75px;
  animation: 4s 0.25s iconsgg infinite cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes iconsgg {
  0% {
    left: 75px;
  }
  20% {
    left: 1px;
  }
  40% {
    left: -81px;
  }
  60% {
    left: -157px;
  }
  80% {
    left: -251px;
  }
  100% {
    left: -310px;
  }
}

.master-icon {
  bottom: 18px;
  right: 15px;
  animation: 1s iconreveal cubic-bezier(0.68, -0.55, 0.27, 1.55);
  position: fixed;
  transform-origin: 50% 50%;
  z-index: 999999999999999;
}

@keyframes iconreveal {
  from {
    bottom: -85px;
  }
  to {
    bottom: 18px;
  }
}

.icon-pulse {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: #254dde;
  border-radius: 100%;
  right: 4px;
  bottom: 5px;
  transform-origin: 50% 50%;
  animation: 1.2s infinite pulseicon cubic-bezier(0, 0, 0.22, 1.03);
  opacity: 1;
  animation-delay: 1s;
}

@keyframes pulseicon {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}

.phone-icon-an {
  position: absolute;
  left: 26px;
}

.clock-icon-an {
  position: absolute;
  left: 102px;
}

.msg-icon-an {
  position: absolute;
  left: 178px;
}

.whats-icon-an {
  position: absolute;
  left: 274px;
}

/* --------------------------------------------------------- */

.success-img {
  width: 90px;
  position: relative;
}

.success-wrap {
  margin: 40px 0 0;
  text-align: center;
}

.success-p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: #69b296;
}

.container-call {
  height: 377px;
}

.container-msg {
  height: 472px;
}

.container-whatsapp {
  height: 249px;
}

.container-schedule {
  height: 505px;
}

/* -------------------------------- */

.chat-master {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.chat-master ul {
  padding: 0;
  margin: 0;
}

.msglist-master {
  width: 85%;
  height: auto;
}

.msglist-list {
  list-style: none;
  text-align: left;
}

.msglist-list p {
  font-family: "Roboto", sans-serif;
  background: #6e48aa;
  color: #fff;
  padding: 12px;
  border-radius: 12px 12px 12px 0;
  word-wrap: anywhere;
}

.msglist-p p {
  position: relative;
  left: 12px;
  padding: 0;
  width: 91%;
  font-size: 13px;
}

.enter-chat {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 12px 24px;
  position: relative;
  top: 32px;
}

.username-chat {
  border-radius: 12px;
  box-shadow: 0 4px 16px 0 rgba(69, 91, 99, 0.08);
  border: solid 1px #c6c6c6;
  background-color: #ffffff;
  font-size: 14px;
  padding: 15px 12px;
  width: 100%;
  outline: none;
  resize: none;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  grid-column: 1/3;
  grid-row: 1;
}

.phone-chat {
  border-radius: 12px;
  box-shadow: 0 4px 16px 0 rgba(69, 91, 99, 0.08);
  border: solid 1px #c6c6c6;
  background-color: #ffffff;
  font-size: 14px;
  padding: 15px 12px;
  width: 100%;
  outline: none;
  resize: none;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  grid-column: 1/3;
  grid-row: 2;
}

.btn-chat {
  width: 70%;
  border-radius: 12px;
  background-color: #665eff;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  padding: 12px 25px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transform-origin: 50% 50%;
  text-decoration: none;
  box-sizing: border-box;
  grid-column: 1/3;
  grid-row: 3;
  left: 50%;
  transform: translateX(-50%);
}

.btn-chat-disabled {
  width: 70%;
  border-radius: 12px;
  background-color: #bdbdbd;
  border: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  padding: 12px 25px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transform-origin: 50% 50%;
  text-decoration: none;
  box-sizing: border-box;
  grid-column: 1/3;
  grid-row: 3;
  left: 50%;
  transform: translateX(-50%);
}

.container-chat {
  height: 100%;
}

.msg-chat {
  border-radius: 12px;
  box-shadow: 0 4px 16px 0 rgba(69, 91, 99, 0.08);
  border: solid 1px #c6c6c6;
  background-color: #ffffff;
  font-size: 14px;
  padding: 12px;
  width: 100%;
  outline: none;
  resize: none;
  font-family: "Open Sans", sans-serif;
  height: 85%;
  box-sizing: border-box;
  margin-right: 12px;
}

.send-btn {
  width: auto;
  border-radius: 12px;
  background-color: #665eff;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  padding: 12px;
  box-sizing: border-box;
  text-align: center;
}

.send-btn svg {
  font-size: 18px;
}

.box-sendmsg {
  display: flex;
}

.chat-master ul {
  height: 100%;
  overflow-y: auto;
  scrollbar-color: #665eff transparent;
  scrollbar-width: thin;
  margin: 18px 0;
}

.chat-master ul {
  height: 250px;
  overflow-y: auto;
  scrollbar-color: #665eff transparent;
  margin: 18px 0;
}

.chat-master ul::-webkit-scrollbar-track {
  background-color: transparent;
}

.chat-master ul::-webkit-scrollbar {
  width: 8px;
  background-color: #665eff;
}

.chat-master ul::-webkit-scrollbar-thumb {
  background-color: #665eff;
}
